# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Virtual Env
venv/
.venv/
env/

# Python package cache
.python_packages/
pip-wheel-metadata/

# Azure / Functions
.azure-functions/

# Node (just in case)
node_modules/

# Env files
.env
.env.*
.env.local

# OS / Editor
.DS_Store
.vscode/
.idea/
# Database
*.db
*.sqlite
*.sqlite3